<a href="https://colab.research.google.com/github/Suhail-46/Research-in-Datasets/blob/main/Netflix_Movies_and_Shows_IMdb_Scores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Import necessary libraries for data manipulation

In [3]:
df = pd.read_csv('/content/Netflix TV Shows and Movies.csv')
df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB

In [4]:
# Convertion of release column from object to datetime64 dtype
df['release_year'] = pd.to_datetime(df['release_year'])

In [ ]:
# Loop through columns with object dtype and print their names along with their number of unique values
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].nunique())

id 5283
title 5237
type 2
description 5276
age_certification 11
imdb_id 5283

In [ ]:
# Checking null values in each columns
df.isnull().sum()

index                   0
id                      0
title                   0
type                    0
description             5
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
dtype: int64

In [ ]:
# Cleaning the title column
# From above analysis, we could observe that we have only 5237 title among 5283
# There are no null values in title so checking for duplicates

In [ ]:
df[df['title'].duplicated(keep='first')] # Extracting the duplicates on considering the first occurence as original in title column

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
338,338,tm102337,A Nightmare on Elm Street,MOVIE,The film that brings back horror icon Freddy K...,1970-01-01 00:00:00.000002010,R,95,tt1179056,5.2,99192.0
471,471,tm54147,Dostana,MOVIE,Two straight guys who pretend to be a gay coup...,1970-01-01 00:00:00.000002008,PG-13,145,tt1185420,6.5,14944.0
1211,1211,tm209987,Christine,MOVIE,"The story of Christine Chubbuck, a 1970s TV re...",1970-01-01 00:00:00.000002016,R,115,tt4666726,6.9,14977.0
1228,1228,ts41975,Shooter,SHOW,Bob Lee Swagger is an expert marksman living i...,1970-01-01 00:00:00.000002016,TV-14,41,tt4181172,7.5,35547.0
1394,1394,ts37779,Danger Mouse,SHOW,"Danger Mouse is back saving London, saving the...",1970-01-01 00:00:00.000002015,NaN,12,tt4196822,7.2,579.0
1459,1459,tm234292,The Heirs,MOVIE,Teenagersâ€™ leisure at full swing: a group of...,1970-01-01 00:00:00.000002015,NaN,71,tt2903370,5.7,224.0
1513,1513,tm248010,Taxi Driver,MOVIE,A small-town mechanic turned chauffeur for the...,1970-01-01 00:00:00.000002015,NaN,100,tt5112438,6.0,68.0
1639,1639,tm232710,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",1970-01-01 00:00:00.000002015,NaN,130,tt5226380,8.6,47.0
1662,1662,tm244577,Love O2O,MOVIE,What is it that makes a man fall in love with ...,1970-01-01 00:00:00.000002016,NaN,105,tt6093452,6.4,998.0
1744,1744,ts81884,Bodyguard,SHOW,A troubled war veteran is assigned to protect ...,1970-01-01 00:00:00.000002018,TV-MA,60,tt7493974,8.1,114446.0
1942,1942,ts57424,The Forest,SHOW,"In a small quiet village in the Ardennes, a si...",1970-01-01 00:00:00.000002017,TV-MA,52,tt6560040,7.2,10137.0
1993,1993,ts58175,She's Gotta Have It,SHOW,Nola Darling struggles to define herself and d...,1970-01-01 00:00:00.000002017,TV-MA,32,tt0196291,6.8,4624.0
2008,2008,ts81885,The Good Cop,SHOW,Honest cop Tony Jr. gets advice from his unscr...,1970-01-01 00:00:00.000002018,TV-PG,49,tt7183074,6.9,5620.0
2064,2064,ts56201,Cloudy with a Chance of Meatballs,SHOW,"The series is a prequel, featuring the high sc...",1970-01-01 00:00:00.000002017,TV-Y7,11,tt4123482,3.4,750.0
2176,2176,ts84646,Warrior,SHOW,A war veteran plagued by guilt over his final ...,1970-01-01 00:00:00.000002018,TV-MA,42,tt9249090,6.7,1966.0
2289,2289,ts78053,Kakegurui,SHOW,Children from influential families in politics...,1970-01-01 00:00:00.000002018,TV-MA,30,tt7691766,6.8,966.0
2350,2350,tm311319,Manhunt,MOVIE,"Accused of a murder he didn't commit, a prosec...",1970-01-01 00:00:00.000002017,NaN,106,tt4537986,5.2,3210.0
2418,2418,ts75620,Black,SHOW,"A Grim Reaper, a detective and a woman who for...",1970-01-01 00:00:00.000002017,TV-MA,78,tt6380900,8.0,3665.0
2473,2473,tm359975,The Chase,MOVIE,After people in his town start turning up dead...,1970-01-01 00:00:00.000002017,NaN,110,tt8088944,6.6,2957.0
2587,2587,tm355941,Zoo,MOVIE,"Set in the heart of Mumbai, ZOO depicts lifest...",1970-01-01 00:00:00.000002018,NaN,100,tt6149820,5.7,96.0
2652,2652,tm362264,The Gift,MOVIE,Mashotoâ€™s life in the city is a hustle. Itâ€...,1970-01-01 00:00:00.000002017,NaN,85,tt6856604,8.1,20.0
3062,3062,tm453862,The Call,MOVIE,Connected by phone in the same home but 20 yea...,1970-01-01 00:00:00.000002020,NaN,112,tt10530176,7.1,29450.0
3083,3083,tm824398,The Platform,MOVIE,A vertical prison with one cell per level. Two...,1970-01-01 00:00:00.000002019,NaN,94,tt8228288,7.0,207877.0
3088,3088,tm460948,Always Be My Maybe,MOVIE,"Reunited after 15 years, famous chef Sasha and...",1970-01-01 00:00:00.000002019,PG-13,101,tt7374948,6.8,54166.0
3105,3105,tm496322,Extraction,MOVIE,"Tyler Rake, a fearless black market mercenary,...",1970-01-01 00:00:00.000002020,R,116,tt8936646,6.7,192132.0
3218,3218,ts223344,The Gift,SHOW,A painter in Istanbul embarks on a personal jo...,1970-01-01 00:00:00.000002019,TV-MA,45,tt10075318,7.0,21582.0
3265,3265,ts88296,Ares,SHOW,"When her friend suffers a bizarre accident, Ro...",1970-01-01 00:00:00.000002020,TV-MA,29,tt8404520,5.7,4298.0
3294,3294,ts104840,Skylines,SHOW,"In Frankfurt, A young, talented hip-hop produc...",1970-01-01 00:00:00.000002019,TV-MA,60,tt9184970,7.5,2627.0
3412,3412,ts251617,Connected,SHOW,Science journalist Latif Nasser investigates t...,1970-01-01 00:00:00.000002020,TV-14,44,tt12753692,7.5,1704.0
3529,3529,tm497383,Sergio,MOVIE,A sweeping drama set in the chaotic aftermath ...,1970-01-01 00:00:00.000002020,R,118,tt6468740,6.2,9619.0
3698,3698,tm875736,U Turn,MOVIE,U turn tells the story of a budding investigat...,1970-01-01 00:00:00.000002020,NaN,98,tt11638656,4.3,268.0
3880,3880,tm918962,Fearless,MOVIE,A teen gamer is forced to level up to full-tim...,1970-01-01 00:00:00.000002020,PG,89,tt8675288,4.9,1706.0
3895,3895,tm847805,Ludo,MOVIE,"Ludo is about the butterfly effect and how, de...",1970-01-01 00:00:00.000002020,PG-13,150,tt7212754,7.6,37528.0
3977,3977,tm912190,Cargo,MOVIE,"Prahastha, a lonely astronaut, works in a spac...",1970-01-01 00:00:00.000002019,PG-13,113,tt8992946,5.6,2906.0
4066,4066,tm872732,Sugar Rush,MOVIE,"The Sugar Sisters discover a whopping $800,000...",1970-01-01 00:00:00.000002019,NaN,120,tt11430264,6.7,90.0
4072,4072,tm946277,Love,MOVIE,The story of a family and the various situatio...,1970-01-01 00:00:00.000002020,NaN,91,tt12573294,7.0,1485.0
4341,4341,tm483190,Time Out,MOVIE,A woman who works as a DJ is known to live alo...,1970-01-01 00:00:00.000002019,NaN,93,tt9822904,5.9,45.0
4481,4481,ts85985,Cowboy Bebop,SHOW,"Long on style and perpetually short on cash, b...",1970-01-01 00:00:00.000002021,TV-MA,45,tt1267295,6.6,35427.0
4581,4581,ts272980,The One,SHOW,Love -- and lies -- spiral when a DNA research...,1970-01-01 00:00:00.000002021,TV-MA,42,tt13879466,6.6,12367.0
4622,4622,ts1475,Chosen,SHOW,A 17-year-old girl's world is turned upside do...,1970-01-01 00:00:00.000002022,TV-MA,44,tt16492950,4.3,1111.0
4639,4639,ts299865,Heist,SHOW,Millions in stolen cash. Missing luxury bourbo...,1970-01-01 00:00:00.000002021,TV-MA,43,tt14865290,6.8,1698.0
4841,4841,tm362072,Monster,MOVIE,"The story of Steve Harmon, a 17-year-old honor...",1970-01-01 00:00:00.000002021,R,98,tt10229074,6.5,5574.0
4939,4939,ts314395,The Motive,SHOW,"In Jerusalem 1986, a 14-year-old boy shoots hi...",1970-01-01 00:00:00.000002021,NaN,35,tt15529566,5.3,1383.0
4957,4957,tm1040337,Security,MOVIE,After the assault of a young woman in their se...,1970-01-01 00:00:00.000002021,NaN,118,tt11892916,5.0,1935.0
4979,4979,ts282155,Zero,SHOW,A teenager who can make herself invisible is u...,1970-01-01 00:00:00.000002021,TV-MA,24,tt10619486,5.6,1270.0
5163,5163,tm1165244,Into the Wind,MOVIE,She graduated from a prestigious high school i...,1970-01-01 00:00:00.000002022,NaN,108,tt17044594,5.2,749.0

In [ ]:
df[df['title']=='A Nightmare on Elm Street'] # Checking the first duplicate in title column

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
50,50,tm2386,A Nightmare on Elm Street,MOVIE,Teenagers in a small town are dropping like fl...,1970-01-01 00:00:00.000001984,R,91,tt0087800,7.4,230543.0
338,338,tm102337,A Nightmare on Elm Street,MOVIE,The film that brings back horror icon Freddy K...,1970-01-01 00:00:00.000002010,R,95,tt1179056,5.2,99192.0

In [ ]:
# From the above execution, I came to know that title name will be same with other values differentiated. For example different story with same name.
# Same scenario applies to all the columns by checking the entire row is duplicated.
df.duplicated().sum()

np.int64(0)

In [ ]:
# Now cleaning the null values
# Checking null values in each columns
df.isnull().sum()

index                   0
id                      0
title                   0
type                    0
description             5
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
dtype: int64

In [ ]:
df[df['description'].isnull()]

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
1117,1117,tm681614,Grandmother's Farm,MOVIE,NaN,1970-01-01 00:00:00.000002013,NaN,71,tt10033686,2.9,74.0
2605,2605,ts90941,"Heidi, bienvenida a casa",SHOW,NaN,1970-01-01 00:00:00.000002017,TV-Y,46,tt7183310,6.2,20.0
2752,2752,tm407349,The Birth Reborn 2,MOVIE,NaN,1970-01-01 00:00:00.000002018,PG,91,tt16114198,6.6,5.0
4020,4020,tm1172010,The Lockdown Plan,MOVIE,NaN,1970-01-01 00:00:00.000002020,NaN,49,tt13079112,6.5,NaN
4393,4393,tm902993,Mama Drama,MOVIE,NaN,1970-01-01 00:00:00.000002020,NaN,85,tt12424356,6.3,8.0

In [5]:
df['description'].fillna('Unavailable', inplace=True)

/tmp/ipython-input-5-1584093354.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['description'].fillna('Unavailable', inplace=True)

In [ ]:
# Cleaned null values from description column and checking for null values in other columns
df.isnull().sum()

index                   0
id                      0
title                   0
type                    0
description             0
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
dtype: int64

In [6]:
# Decided to fill the null values on the age_certification as PG-17 which describes the category as Parental Guidance. Some material may not be suitable for children under 17.
df['age_certification'].fillna('PG-17', inplace=True)

/tmp/ipython-input-6-3311661239.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age_certification'].fillna('PG-17', inplace=True)

In [7]:
# Cleaned null values from age_certification column and checking for null values in other columns
df.isnull().sum()

index                 0
id                    0
title                 0
type                  0
description           0
release_year          0
age_certification     0
runtime               0
imdb_id               0
imdb_score            0
imdb_votes           16
dtype: int64

In [8]:
# Decided to fill the null values on the imdb_votes as 0
df['imdb_votes'].fillna(0, inplace=True)

/tmp/ipython-input-8-896820707.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['imdb_votes'].fillna(0, inplace=True)

In [9]:
# All null values cleared. Now encoding the object data types to number forms for machine learning
from sklearn.preprocessing import OrdinalEncoder
encode = OrdinalEncoder()

In [ ]:
# Loop through columns with object dtype and print their names along with their number of unique values
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].nunique())

id 5283
title 5237
type 2
description 5277
age_certification 12
imdb_id 5283

In [10]:
# Encoded title and age_certification with OrdinalEncoder
df["title"] = encode.fit_transform(df[["title"]])
df["age_certification"] = encode.fit_transform(df[["age_certification"]])
df["description"] = encode.fit_transform(df[["description"]])

In [ ]:
# Displaying the encoded results
df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,3982.0,MOVIE,A mentally unstable Vietnam War veteran works ...,1970-01-01 00:00:00.000001976,5.0,113,tt0075314,8.3,795222.0
1,1,tm127384,2804.0,MOVIE,"King Arthur, accompanied by his squire, recrui...",1970-01-01 00:00:00.000001975,2.0,91,tt0071853,8.2,530877.0
2,2,tm70993,2431.0,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1970-01-01 00:00:00.000001979,5.0,94,tt0079470,8.0,392419.0
3,3,tm190788,4212.0,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1970-01-01 00:00:00.000001973,5.0,133,tt0070047,8.1,391942.0
4,4,ts22164,2806.0,SHOW,A British sketch comedy series with the shows ...,1970-01-01 00:00:00.000001969,6.0,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,2787.0,MOVIE,Three women with totally different lives accid...,1970-01-01 00:00:00.000002021,4.0,108,tt14412240,5.8,26.0
5279,5279,tm1014599,1470.0,MOVIE,A beautiful love story that can happen between...,1970-01-01 00:00:00.000002021,4.0,100,tt13857480,6.9,39.0
5280,5280,tm1045018,922.0,MOVIE,A man from Nigeria returns to his family in Ca...,1970-01-01 00:00:00.000002021,4.0,88,tt14620732,6.5,32.0
5281,5281,tm1098060,3669.0,MOVIE,A family faces destruction in a long-running c...,1970-01-01 00:00:00.000002021,4.0,116,tt10168094,6.2,9.0
5282,5282,ts271048,2726.0,SHOW,"With winter behind them, Bheem and his townspe...",1970-01-01 00:00:00.000002021,4.0,0,tt13711094,8.8,16.0

In [ ]:
# Checking the possibilities of convertion in type column
df['type'].unique()

array(['MOVIE', 'SHOW'], dtype=object)

In [11]:
# Replacing MOVIE as 1 and SHOW as 0
df["type"]=df["type"].replace({"MOVIE":1,"SHOW":0})
df

/tmp/ipython-input-11-1489794226.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["type"]=df["type"].replace({"MOVIE":1,"SHOW":0})

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,3982.0,1,496.0,1970-01-01 00:00:00.000001976,5.0,113,tt0075314,8.3,795222.0
1,1,tm127384,2804.0,1,3045.0,1970-01-01 00:00:00.000001975,2.0,91,tt0071853,8.2,530877.0
2,2,tm70993,2431.0,1,1654.0,1970-01-01 00:00:00.000001979,5.0,94,tt0079470,8.0,392419.0
3,3,tm190788,4212.0,1,34.0,1970-01-01 00:00:00.000001973,5.0,133,tt0070047,8.1,391942.0
4,4,ts22164,2806.0,0,82.0,1970-01-01 00:00:00.000001969,6.0,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,2787.0,1,4613.0,1970-01-01 00:00:00.000002021,4.0,108,tt14412240,5.8,26.0
5279,5279,tm1014599,1470.0,1,129.0,1970-01-01 00:00:00.000002021,4.0,100,tt13857480,6.9,39.0
5280,5280,tm1045018,922.0,1,471.0,1970-01-01 00:00:00.000002021,4.0,88,tt14620732,6.5,32.0
5281,5281,tm1098060,3669.0,1,293.0,1970-01-01 00:00:00.000002021,4.0,116,tt10168094,6.2,9.0
5282,5282,ts271048,2726.0,0,5212.0,1970-01-01 00:00:00.000002021,4.0,0,tt13711094,8.8,16.0

In [ ]:
# Loop through columns with object dtype and print their names along with their number of unique values
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].nunique())

id 5283
imdb_id 5283

In [12]:
# Converting id and imdb_id into numbers
to_remove_id = ['tm', 'ts']
for i in to_remove_id:
    df['id'] = df['id'].str.replace(i, '', regex=False)
df['imdb_id'] = df['imdb_id'].str.replace('tt', '', regex=False)
df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,84618,3982.0,1,496.0,1970-01-01 00:00:00.000001976,5.0,113,0075314,8.3,795222.0
1,1,127384,2804.0,1,3045.0,1970-01-01 00:00:00.000001975,2.0,91,0071853,8.2,530877.0
2,2,70993,2431.0,1,1654.0,1970-01-01 00:00:00.000001979,5.0,94,0079470,8.0,392419.0
3,3,190788,4212.0,1,34.0,1970-01-01 00:00:00.000001973,5.0,133,0070047,8.1,391942.0
4,4,22164,2806.0,0,82.0,1970-01-01 00:00:00.000001969,6.0,30,0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,1040816,2787.0,1,4613.0,1970-01-01 00:00:00.000002021,4.0,108,14412240,5.8,26.0
5279,5279,1014599,1470.0,1,129.0,1970-01-01 00:00:00.000002021,4.0,100,13857480,6.9,39.0
5280,5280,1045018,922.0,1,471.0,1970-01-01 00:00:00.000002021,4.0,88,14620732,6.5,32.0
5281,5281,1098060,3669.0,1,293.0,1970-01-01 00:00:00.000002021,4.0,116,10168094,6.2,9.0
5282,5282,271048,2726.0,0,5212.0,1970-01-01 00:00:00.000002021,4.0,0,13711094,8.8,16.0

In [ ]:
# Checking if any duplicates in id column.
df[df['id'].duplicated(keep='first')]

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
1218,1218,41289,1496.0,0,1871.0,1970-01-01 00:00:00.000002016,6.0,25,5619658,8.1,5468.0
1461,1461,35463,3444.0,0,3653.0,1970-01-01 00:00:00.000002015,9.0,22,4162898,3.1,1041.0
2178,2178,56033,3929.0,0,1471.0,1970-01-01 00:00:00.000002017,8.0,42,6809396,7.7,985.0
2325,2325,78767,1479.0,0,2167.0,1970-01-01 00:00:00.000002018,7.0,36,7924812,7.3,2061.0
2339,2339,80059,4867.0,0,2281.0,1970-01-01 00:00:00.000002017,6.0,55,7596008,7.2,4003.0
3112,3112,103133,1940.0,0,3998.0,1970-01-01 00:00:00.000002020,8.0,21,9446688,7.5,56459.0
3443,3443,236725,2409.0,0,2291.0,1970-01-01 00:00:00.000002020,8.0,50,12190580,8.7,2276.0
3779,3779,235979,4665.0,0,1046.0,1970-01-01 00:00:00.000002020,4.0,59,12079212,7.3,1356.0

In [13]:
# Adding 1 at the end of duplicated id's to make it unique.
df1 = df['id'].duplicated(keep='first')
df.loc[df1, 'id'] = df.loc[df1, 'id'] + '1'
# Loop through columns with object dtype and print their names along with their number of unique values
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].nunique())

id 5283
imdb_id 5283

In [14]:
# Converted All object data type into integer and all data in the data frame is in numeric format
df['id'] = df['id'].astype('Int64')
df['imdb_id'] = df['imdb_id'].astype('Int64')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   Int64
 2   title              5283 non-null   float64
 3   type               5283 non-null   int64
 4   description        5283 non-null   float64
 5   release_year       5283 non-null   datetime64[ns]
 6   age_certification  5283 non-null   float64
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   Int64
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5283 non-null   float64
dtypes: Int64(2), datetime64[ns](1), float64(5), int64(3)
memory usage: 464.5 KB

In [18]:
# Performing T test for all columns to check data is properly distributed
from scipy import stats
sample = df['id'].sample(frac=0.03)

In [19]:
t_test,p_value = stats.ttest_1samp(sample,popmean=df['id'].mean())

In [20]:
if p_value<0.05:
  print("Reject the null hypothesis, data is not properly distributed")
else:
  print("Accept the null hypothesis, data is properly distributed")

Accept the null hypothesis, data is properly distributed

In [21]:
# Mathematically we can perform 30 sample t test to check is properly distributed
for i in range(31):
  sample = df['id'].sample(frac=0.03)
  t_test,p_value = stats.ttest_1samp(sample,popmean=df['id'].mean())
  if p_value<0.05:
    print("Reject the null hypothesis, data is not properly distributed")
  else:
    print("Accept the null hypothesis, data is properly distributed")

Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed

In [22]:
for col in df.columns:
  sample = df[col].sample(frac=0.03)
  for i in range(31):
    sample = df['id'].sample(frac=0.03)
    t_test,p_value = stats.ttest_1samp(sample,popmean=df['id'].mean())
    if p_value<0.05:
      print("Reject the null hypothesis, data is not properly distributed")
    else:
      print("Accept the null hypothesis, data is properly distributed")

Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Reject the null hypothesis, data is not properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed
Accept the null hypothesis, data is properly distributed